* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'proxima-nova';
}
body {
  margin: 0; padding: 0;
  background: transparent url("../img/image.png") no-repeat fixed;
  background-size: cover;
}
.container {
  margin: auto;
  max-width: 840px;
  overflow: auto;
}
.heading {
  width: 100%;
  height: 40px;
  background-color: #3b5998;
  margin-top: 15px;
  padding-top: 12px;
}
h4 {
  text-align: center;
  color: white;
  width: 250px;
  margin: auto;
  font-size: 15px;
}
.main-1, .main-2 {
  width: 100%;
  overflow: auto;
}
.sub-heading {
  width: 100%;
  background-color: #3b5998;
  height: 45px;
  margin-top: 20px;
  padding-top: 13px;
}
.body {
  background-color: #f6f6f6;
  width: 100%;
  padding: 18px;
}
.body-input {
  width: 390px;
  display: inline-block;
}
.input {
  height: 32px;
  width: 350px;
}
.gems, .darkelixir {
  margin-top: 5px;
}
.elixir, .darkelixir {
  margin-left: 15px;
}
img {
 float: right;
 clear: both;
 width: 18px;
 height:20px;
 margin: 6px 10px 0 0;
}
.icon {
 float: left;
 clear: both;
 width: 40px;
 height:32px;
 background-color: #3b5998;
 color: rgb(250, 250, 250);
}
.sub-heading-2 {
 width: 100%;
 background-color: #3b5998;
 height: 50px;
 margin-top: 30px;
 padding-top: 14px;
}
.body-1 {
 float: left;
 background-color: #f6f6f6;
 width: 100%;
 padding: 18px;
}
.body-input-1 {
 width: 815px;
 display: inline-block;
 margin-top: 7px;
}
.input-1 {
 height: 32px;
 width: 759px;
}
.button {
 width:150px;
 height: 40px;
 color: white;
 background-color: #3b5998;
 padding: 6px 20px;
 border: none;
 cursor: pointer;
 font-size: 16px;
 border-radius: 4px;
 margin-left: 330px;
 position: absolute;
}
.button:hover {
 background-color: white;
 border: 2px solid #3b5998;
 color: #3b5998;
}
input[type=text]:focus,
input[type=password]:focus {
  border: 2px solid #3b5998;
  background-color: rgba(59,89,152, 0.05);
}
::-webkit-input-placeholder {
    color: rgb(190, 190, 190);
}
.email, .password, .phone {
 float: right;
 clear: both;
 width: 18px;
 height:20px;
}
input[type=text], input[type=password] {
 padding: 12px 14px;
 display: inline-block;
 outline: none;
 font-size: 14px;
}
.footer {
  width: 800px;
  height: 45px;
  margin-top: 15px;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-top: 5px;
}
li {
  list-style-type: none;
  display: inline-block;
}
.facebook:hover {
  color: #3b5998;
}
.twitter:hover {
  color: #4099ff;
}
.instagram:hover {
  color: #003366;
}
